@(periodos: List[Periodo], disciplinasOfertadas: List[Disciplina], plano: PlanoDeCurso);

@import helper._ 
<script type="text/javascript" src="assets/javascripts/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="assets/javascripts/js/jquery-ui-1.9.2.custom.js"></script>

<br>
@main("Meu curso") {
</br>
<head>

	<div class="titulo">
		<br>
			<nome-principal>Meu Curso</nome-principal>
		</br>
	</div>

</head>

<body>
<div class="wrapper">
	<div id="colunas">
		<div class="coluna">
			<br></br><br>
						<div id="1">
                        <periodos>1º Período</periodos>
                        <div class="allDisciplines">
	                        @for(disciplina <- periodos.get(0).getDisciplinas()){
		                        <div class="descricaoDeDisciplina">
		                                <nome>@disciplina.getNome()</nome>
		                                <br />
		                                <descricao>@disciplina.getCreditos() creditos</descricao>
		                        </div>
	                        }
                        <creditos>Créditos : @periodos.get(0).getTotalDeCreditos()</creditos>
						</div>
						</div>
						
						<div id="2">
						<periodos>2º Período</periodos>
                        <div class="allDisciplines">
	                        @for(disciplina <- periodos.get(1).getDisciplinas()){
		                        <div class="descricaoDeDisciplina">
		                                <nome>@disciplina.getNome()</nome>
		                                <br />
		                                <descricao>@disciplina.getCreditos() creditos</descricao>
		                        </div>
	                        }
                        <creditos>Créditos : @periodos.get(1).getTotalDeCreditos()</creditos>
						</div>
						</div>
						
						<div id="3">
						<periodos>3º Período</periodos>
                        <div>
	                        @for(disciplina <- periodos.get(2).getDisciplinas()){
		                        <div class="descricaoDeDisciplina">
		                                <nome>@disciplina.getNome()</nome>
		                                <br />
		                                <descricao>@disciplina.getCreditos() creditos</descricao>
		                        </div>
	                        }
                        <creditos>Créditos : @periodos.get(2).getTotalDeCreditos()</creditos>
						</div>
						</div>
						
						<div id="4">
						<periodos>4º Período</periodos>
                        <div>
	                        @for(disciplina <- periodos.get(3).getDisciplinas()){
		                        <div class="descricaoDeDisciplina">
		                                <nome>@disciplina.getNome()</nome>
		                                <br />
		                                <descricao>@disciplina.getCreditos() creditos</descricao>
		                        </div>
	                        }
                        <creditos>Créditos : @periodos.get(3).getTotalDeCreditos()</creditos>
						</div>
						</div>
						
						<div id="5">
						<periodos>5º Período</periodos>
                        <div>
	                        @for(disciplina <- periodos.get(4).getDisciplinas()){
		                        <div class="descricaoDeDisciplina">
		                                <nome>@disciplina.getNome()</nome>
		                                <br />
		                                <descricao>@disciplina.getCreditos() creditos</descricao>
		                        </div>
	                        }
                        <creditos>Créditos : @periodos.get(4).getTotalDeCreditos()</creditos>
						</div>
						</div>
						
						<div id="6">
						<periodos>6º Período</periodos>
                        <div>
	                        @for(disciplina <- periodos.get(5).getDisciplinas()){
		                        <div class="descricaoDeDisciplina">
		                                <nome>@disciplina.getNome()</nome>
		                                <br />
		                                <descricao>@disciplina.getCreditos() creditos</descricao>
		                        </div>
	                        }
                        <creditos>Créditos : @periodos.get(5).getTotalDeCreditos()</creditos>
						</div>
						</div>
						
						<div id="7">
						<periodos>7º Período</periodos>
                        <div>
	                        @for(disciplina <- periodos.get(6).getDisciplinas()){
		                        <div class="descricaoDeDisciplina">
		                                <nome>@disciplina.getNome()</nome>
		                                <br />
		                                <descricao>@disciplina.getCreditos() creditos</descricao>
		                        </div>
	                        }
                        <creditos>Créditos : @periodos.get(6).getTotalDeCreditos()</creditos>
						</div>
						</div>
						
						<div id="8">
						<periodos>8º Período</periodos>
                        <div>
	                        @for(disciplina <- periodos.get(7).getDisciplinas()){
		                        <div class="descricaoDeDisciplina">
		                                <nome>@disciplina.getNome()</nome>
		                                <br />
		                                <descricao>@disciplina.getCreditos() creditos</descricao>
		                        </div>
	                        }
                        <creditos>Créditos : @periodos.get(7).getTotalDeCreditos()</creditos>
						</div>
						</div>
						
						<div id="9">
						<periodos>9º Período</periodos>
                        <div>
	                        @for(disciplina <- periodos.get(8).getDisciplinas()){
		                        <div class="descricaoDeDisciplina">
		                                <nome>@disciplina.getNome()</nome>
		                                <br />
		                                <descricao>@disciplina.getCreditos() creditos</descricao>
		                        </div>
	                        }
                        <creditos>Créditos : @periodos.get(8).getTotalDeCreditos()</creditos>
						</div>
						</div>
						
						<div id="10">
						<periodos>@plano.getPeriodoAtual()º Período</periodos>
                        <div>
	                        @for(disciplina <- periodos.get(9).getDisciplinas()){
		                        <div class="descricaoDeDisciplina">
		                                <nome>@disciplina.getNome()</nome>
		                                <br />
		                                <descricao>@disciplina.getCreditos() creditos</descricao>
		                        </div>
	                        }
                        <creditos>Créditos : @periodos.get(9).getTotalDeCreditos()</creditos>
						</div>
						</div>
						
		</div>
		<div id="c3" class="coluna">
			<br></br><br>
                        <diciplinas-ofertadas>Disciplinas Ofertadas</diciplinas-ofertadas>
                        <div id="periodo" class="allDisciplines">
	                        @for(disc <- disciplinasOfertadas){
		                        <div class="descricaoDeDisciplina">
		                                <nome>@disc.getNome()</nome>
		                                <br/>
		                                <descricao>@disc.getCreditos() creditos</descricao>
		                        </div>
	                        }
						</div>
		</div>
	</div>
</div>
	<div class="titulo">
			<nome-principal>Selecione o período</nome-principal>
	</div>
	<div id="disciplinas">
		<script>
			$("#2").hide("fast");
			$("#3").hide("fast");
			$("#4").hide("fast");
			$("#5").hide("fast");
			$("#6").hide("fast");
			$("#7").hide("fast");
			$("#8").hide("fast");
			$("#9").hide("fast");
			$("#10").hide("fast");
		</script>
		<button id="button1" type="button" class="col-md-offset-1 btn">1º Período</button>
				<script>
                        $("#button1").click(function() {
                          	$("#2").hide("fast");
                			$("#3").hide("fast");
                			$("#4").hide("fast");
                			$("#5").hide("fast");
                			$("#6").hide("fast");
                			$("#7").hide("fast");
                			$("#8").hide("fast");
                			$("#9").hide("fast");
                			$("#10").hide("fast");
                            $("#1").show("fold", 1000);
                        });
                </script>
		<button id="button2" type="button" class="btn">2º Período</button>
				<script>
                        $("#button2").click(function() {
                        	$("#1").hide("fast");
                			$("#3").hide("fast");
                			$("#4").hide("fast");
                			$("#5").hide("fast");
                			$("#6").hide("fast");
                			$("#7").hide("fast");
                			$("#8").hide("fast");
                			$("#9").hide("fast");
                			$("#10").hide("fast");
                            $("#2").show("fold", 1000);
                        });
                </script>
		<button id="button3" type="button" class="btn">3º Período</button>
				<script>
                        $("#button3").click(function() {
                        	$periodo=3
                        	$("#2").hide("fast");
                			$("#1").hide("fast");
                			$("#4").hide("fast");
                			$("#5").hide("fast");
                			$("#6").hide("fast");
                			$("#7").hide("fast");
                			$("#8").hide("fast");
                			$("#9").hide("fast");
                			$("#10").hide("fast");
                            $("#3").show("fold", 1000);
                        });
                </script>
		<button id="button4" type="button" class="btn">4º Período</button>
				<script>
                        $("#button4").click(function() {
                        	$("#2").hide("fast");
                			$("#3").hide("fast");
                			$("#1").hide("fast");
                			$("#5").hide("fast");
                			$("#6").hide("fast");
                			$("#7").hide("fast");
                			$("#8").hide("fast");
                			$("#9").hide("fast");
                			$("#10").hide("fast");
                            $("#4").show("fold", 1000);
                        });
                </script>
		<button id="button5" type="button" class="btn">5º Período</button>
				<script>
                        $("#button5").click(function() {
                			$("#1").hide("fast");
                        	$("#2").hide("fast");
                			$("#3").hide("fast");
                			$("#4").hide("fast");
                			$("#6").hide("fast");
                			$("#7").hide("fast");
                			$("#8").hide("fast");
                			$("#9").hide("fast");
                			$("#10").hide("fast");
                            $("#5").show("fold", 1000);
                        });
                </script>
		<button id="button6" type="button" class="btn">6º Período</button>
				<script>
                        $("#button6").click(function() {
                			$("#1").hide("fast");
                        	$("#2").hide("fast");
                			$("#3").hide("fast");
                			$("#4").hide("fast");
                			$("#5").hide("fast");
                			$("#7").hide("fast");
                			$("#8").hide("fast");
                			$("#9").hide("fast");
                			$("#10").hide("fast");
                            $("#6").show("fold", 1000);
                        });
                </script>
		<button id="button7" type="button" class="btn">7º Período</button>
				<script>
                        $("#button7").click(function() {
                			$("#1").hide("fast");
                        	$("#2").hide("fast");
                			$("#3").hide("fast");
                			$("#4").hide("fast");
                			$("#5").hide("fast");
                			$("#6").hide("fast");
                			$("#8").hide("fast");
                			$("#9").hide("fast");
                			$("#10").hide("fast");
                            $("#7").show("fold", 1000);
                        });
                </script>
		<button id="button8" type="button" class="btn">8º Período</button>
				<script>
                        $("#button8").click(function() {
                			$("#1").hide("fast");
                        	$("#2").hide("fast");
                			$("#3").hide("fast");
                			$("#4").hide("fast");
                			$("#5").hide("fast");
                			$("#6").hide("fast");
                			$("#7").hide("fast");
                			$("#9").hide("fast");
                			$("#10").hide("fast");
                            $("#8").show("fold", 1000);
                        });
                </script>
		<button id="button9" type="button" class="btn">9º Período</button>
				<script>
                        $("#button9").click(function() {
                			$("#1").hide("fast");
                        	$("#2").hide("fast");
                			$("#3").hide("fast");
                			$("#4").hide("fast");
                			$("#5").hide("fast");
                			$("#6").hide("fast");
                			$("#7").hide("fast");
                			$("#8").hide("fast");
                			$("#10").hide("fast");
                            $("#9").show("fold", 1000);
                        });
                </script>
		<button id="button10" type="button" class="btn" onclick="attPeriodo(10)" >10º Período</button>
				<script>
                        $("#button10").click(function(attPeriodo(10)) {
                			$("#1").hide("fast");
                        	$("#2").hide("fast");
                			$("#3").hide("fast");
                			$("#4").hide("fast");
                			$("#5").hide("fast");
                			$("#6").hide("fast");
                			$("#7").hide("fast");
                			$("#8").hide("fast");
                			$("#9").hide("fast");
                            $("#10").show("fold", 1000);
                        });
                </script>
		
	</div>
</body>
}