@(periodos: List[Periodo], disciplinasOfertadas: List[Disciplina]);

@import helper._ 
<script type="text/javascript" src="assets/javascripts/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="assets/javascripts/js/jquery-ui-1.9.2.custom.js"></script>

<br>
@main("Meu curso") {
</br>
<head>
	<script type = "text/javascript">
		$(function(){
			$( "#disciplinasOfertadas, #periodo" ).sortable({
				connectWith: ".allDisciplines"
			}).disableSelection();
			
			$( "#periodo, #disciplinasOfertadas" ).sortable({
				connectWith: ".allDisciplines"
			}).disableSelection();

		});
	</script>

	<div class="titulo">
		<br>
			<nome-principal>Meu Curso</nome-principal>
		</br>
	</div>

</head>

<body>
<div class="wrapper">
	<div id="colunas">
		<div id="c1" class="coluna">
			<br></br><br>
                        <periodos>1º Período</periodos>
                        <div id="disciplinasOfertadas" class="allDisciplines">
	                        @for(disciplina <- periodos.get(0).getDisciplinas()){
		                        <div class="descricaoDeDisciplina">
		                                <nome>@disciplina.getNome()</nome>
		                                <br />
		                                <descricao>@disciplina.getCreditos() creditos</descricao>
		                        </div>
	                        }
						</div>
                        <creditos>Créditos : @periodos.get(0).getTotalDeCreditos()</creditos>
		</div>
		
		<div id="c2" class="coluna">
			<br></br><br>
                        <periodos>2º Período</periodos>
		</div>
		
		<div id="c3" class="coluna">
			<br></br><br>
                        <diciplinas-ofertadas>Disciplinas Ofertadas</diciplinas-ofertadas>
                        <div id="periodo" class="allDisciplines">
	                        @for(disc <- disciplinasOfertadas){
		                        <div class="descricaoDeDisciplina">
		                                <nome>@disc.getNome()</nome>
		                                <br/>
		                                <descricao>@disc.getCreditos() creditos</descricao>
		                        </div>
	                        }
						</div>
		</div>
	</div>
	<div class="titulo">
			<nome-principal>Selecione o período</nome-principal>
	</div>
	<div id="disciplinas">
		<button id="button1" type="button" class="col-md-offset-1 btn">1º Período</button>
		<script>
 		$( "#c2" ).hide( "fast" );
		</script>
		<script>
		$( "#button1" ).click(function() {
 		$( "#c2" ).hide( "slow" );
		});
		</script>
		<script>
		$( "#button1" ).click(function() {
  		$( "#c1" ).show( "fold", 1000 );
		});
		</script>
		<button id="button2" type="button" class="btn">2º Período</button>
		<script>
		$( "#button2" ).click(function() {
 		$( "#c1" ).hide( "slow" );
		});
		</script>
		<script>
		$( "#button2" ).click(function() {
  		$( "#c2" ).show( "fold", 1000 );
		});
		</script>
		<button type="button" class="btn">3º Período</button>
		<button type="button" class="btn">4º Período</button>
		<button type="button" class="btn">5º Período</button>
		<button type="button" class="btn">6º Período</button>
		<button type="button" class="btn">7º Período</button>
		<button type="button" class="btn">8º Período</button>
		<button type="button" class="btn">9º Período</button>
		<button type="button" class="btn">10º Período</button>
	</div>
</div>
</body>
}